<!-- policies.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Policies</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="policies-page">

  <!-- Policy List -->
  <div class="policy-list">
    <ion-card>
      <ion-card-header>
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <ion-label>Security and Safety</ion-label>
      </ion-card-header>
      <ion-card-content>
        <p>We prioritize the security and safety of your packages, implementing measures to ensure they are handled with care and delivered securely.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-label>Our Policies</ion-label>
      </ion-card-header>
      <img src="../../../assets/images/Policies.jpeg" alt="">
    </ion-card>

    <!-- Add more policy cards as needed -->
  </div>

</ion-content>
