/* policies.page.scss */
.policies-page {
    padding: 20px;
  }
  
  .policy-list {
    text-align: center;
    ion-card {
      margin-bottom: 20px;
      border-radius: 10px;
  
      ion-card-header {
        display: flex;
        align-items: center;
  
        ion-icon {
          font-size: 24px;
          margin-right: 10px;
          color: #27ae60; /* Accent color for the icon */
        }
  
        ion-label {
          font-size: 18px;
          font-weight: bold;
          color: #333; /* Dark grey text color */
        }
      }
  
      ion-card-content {
        p {
          font-size: 16px;
          color: #555; /* Medium grey text color */
        }
      }
    }
  }
  