<!-- services.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="services-page">

  <!-- Service List -->
  <div class="service-list">
    <ion-card>
      <ion-card-header>
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Express Delivery</ion-label>
      </ion-card-header>
      <ion-card-content>
        <p>Fast and reliable express delivery services to ensure your packages reach their destination on time.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Standard Delivery</ion-label>
      </ion-card-header>
      <ion-card-content>
        <p>Reliable and cost-effective delivery service for non-urgent shipments. Timely delivery within a standard timeframe.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Special Handling</ion-label>
      </ion-card-header>
      <ion-card-content>
        <p>Specialized handling for fragile, perishable, or high-value items</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Document Courier</ion-label>
      </ion-card-header>
      <ion-card-content>
        <p>Fast and secure delivery of important documents</p>
      </ion-card-content>
    </ion-card>

    <!-- Add more service cards as needed -->
  </div>

  <div class="additional-details">
    <h2 style="text-align: center;">Our Values</h2>
    <ul style="padding: 0px; text-align: center; padding: 10px; list-style: none;">
       <li>
        <h3>Reliability</h3>
        <p>We are committed to delivering packages on time, every time, providing a reliable and trustworthy service to our customers.</p>
      </li>
      <li>
        <h3>Customer Satisfaction</h3>
        <p>Putting our customers first, we strive to exceed their expectations and provide a positive experience with every delivery.</p>
      </li>
      <li>
        <h3>Efficiency</h3>
        <p>We value efficiency in our operations, ensuring swift and timely deliveries while optimizing our processes for maximum effectiveness.</p>
      </li>
      <li>
        <h3>Integrity</h3>
        <p>Upholding the highest standards of integrity, we conduct our business with honesty, transparency, and ethical practices.</p>
      </li>
      <li>
        <h3>Safety</h3>
        <p>Prioritizing the safety of our customers' packages, as well as the well-being of our staff and the community.</p>
      </li>
      
    </ul>
  </div>

</ion-content>
